<h1>Dragon Ball Super Page</h1>
<hr />

<h2>Esta es la pagina de DragonBall Super</h2>

<section class="row">

  <div class="col-12 col-sm-6">

    <dragonball-character-add (newCharacter)="DragonballService.addCharacter($event)" />

  </div>

  <div class="col-12 col-sm-6">
    <dragonball-character-list
      listName="Listado de personajes"
      [characters]="DragonballService.characters()"
    />

  </div>
  <p class="notes">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ipsam voluptatibus autem ratione illo quos m
    odi quidem suscipit pariatur, iste dolore debitis atque veritatis
    rerum rem eos voluptatum. Culpa odio omnis,
    fuga nam nisi debitis quasi architecto doloribus necessitatibus excepturi quis, praesentium laboriosam? A inventore similique
    dolores quas asperiores. Incidunt labore numquam vero eveniet necessitatibus?
  </p>


</section>
